bpy==5.0.1
diffusers==0.32.2
faiss_cpu==1.9.0.post1
h5py==3.11.0
imageio==2.36.1
matplotlib==3.4.0
moviepy==1.0.3
natsort==8.4.0
numpy==2.4.2
omegaconf==2.3.0
rich==14.3.2
scipy==1.17.0
sentence_transformers==2.2.2
smplx==0.1.28
swanlab==0.7.8
tensorboard==2.15.1
torch==2.1.0+cu118
torchmetrics==0.7.0
tqdm==4.67.3
transformers==4.38.0
